.border-opacity {
  -webkit-animation: border-opacity 5s infinite;
          animation: border-opacity 5s infinite;
}
@-webkit-keyframes border-opacity {
  0% {
    border-color: rgba(255, 255, 255, 0.2);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.5);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.2);
  }
}
@keyframes border-opacity {
  0% {
    border-color: rgba(255, 255, 255, 0.2);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.5);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.2);
  }
}
.show-hi {
  -webkit-animation: show-hi 5s 1;
          animation: show-hi 5s 1;
}
@-webkit-keyframes show-hi {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-hi {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.show-line {
  -webkit-animation: show-line 3s 1;
          animation: show-line 3s 1;
}
@-webkit-keyframes show-line {
  0% {
    width: 0;
  }
  100% {
    width: 45%;
  }
}
@keyframes show-line {
  0% {
    width: 0;
  }
  100% {
    width: 45%;
  }
}
.show-about {
  -webkit-animation: show-about 1s 3s 1;
          animation: show-about 1s 3s 1;
}
@-webkit-keyframes show-about {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-about {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.show-name {
  -webkit-animation: show-name 1s 3s 1;
          animation: show-name 1s 3s 1;
}
@-webkit-keyframes show-name {
  0% {
    top: -20px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes show-name {
  0% {
    top: -20px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
