/*flex布局*/
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-cnt-cnt {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-cnt-btwn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-cnt-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.fill {
  flex: 1;
}
