* {
  color: #fff;
  margin: 0;
}
html {
  font-size: 30px;
  font-family: '微软雅黑';
}
body {
  position: relative;
}
/*flex布局*/
.flex-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex-cnt-cnt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-cnt-btwn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-cnt-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.fill {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.border-opacity {
  -webkit-animation: border-opacity 5s infinite;
          animation: border-opacity 5s infinite;
}
@-webkit-keyframes border-opacity {
  0% {
    border-color: rgba(255, 255, 255, 0.2);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.5);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.2);
  }
}
@keyframes border-opacity {
  0% {
    border-color: rgba(255, 255, 255, 0.2);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.5);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.2);
  }
}
.show-hi {
  -webkit-animation: show-hi 5s 1;
          animation: show-hi 5s 1;
}
@-webkit-keyframes show-hi {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-hi {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.show-line {
  -webkit-animation: show-line 3s 1;
          animation: show-line 3s 1;
}
@-webkit-keyframes show-line {
  0% {
    width: 0;
  }
  100% {
    width: 45%;
  }
}
@keyframes show-line {
  0% {
    width: 0;
  }
  100% {
    width: 45%;
  }
}
.show-about {
  -webkit-animation: show-about 1s 3s 1;
          animation: show-about 1s 3s 1;
}
@-webkit-keyframes show-about {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-about {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.show-name {
  -webkit-animation: show-name 1s 3s 1;
          animation: show-name 1s 3s 1;
}
@-webkit-keyframes show-name {
  0% {
    top: -20px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes show-name {
  0% {
    top: -20px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.max-width {
  max-width: 960px;
}
.margin-btm-10 {
  margin-bottom: 10px !important;
}
.margin-btm-20 {
  margin-bottom: 20px !important;
}
.margin-btm-40 {
  margin-bottom: 40px !important;
}
.margin-btm-60 {
  margin-bottom: 60px !important;
}
.title {
  border: 0px;
  border-bottom: 1px solid #fff;
  font-weight: 700;
  width: 300px;
  margin-left: 10%;
  font-size: 48px;
  margin-bottom: 100px;
}
.btm-line {
  font-size: 12px;
  width: 90%;
  margin: 0 auto;
}
.btm-line .line {
  margin: 0 20px;
  height: 1px;
  background-color: #fff;
}
.content {
  height: 500px;
}
.bar {
  width: 150px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.bar .bar-txt {
  font-size: 16px;
  color: #fff !important;
}
.main-page {
  position: relative;
  background-image: url("../img/main-bg.jpg");
}
.main-page .head {
  margin-left: 70px;
  text-align: center;
}
.main-page .avator {
  border: 15px solid;
  border-color: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 250px;
  height: 250px;
  background-image: url('../img/avator.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-page .hi {
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  width: 50px;
  height: 50px;
  margin-bottom: 120px;
  margin-left: 20px;
}
.main-page .remark {
  text-align: center;
  margin-bottom: 80px;
}
.main-page .about {
  margin: 0 auto;
  font-size: 24px;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.main-page .line {
  margin: 0 auto;
}
.main-page .line .line-left,
.main-page .line .line-right {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  height: 1px;
  background-color: #fff;
}
.main-page .line .line-center {
  height: 3px;
  background-color: #fff;
  width: 10%;
}
.main-page .name {
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: relative;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
}
.intro-page {
  background-color: #161325;
}
.intro-page .intro {
  margin: 0 20%;
  font-size: 18px;
}
.intro-page .intro li {
  float: left;
  margin-bottom: 50px;
}
.intro-page .intro li:nth-child(even) {
  width: 45%;
}
.intro-page .intro li:nth-child(odd) {
  width: 55%;
}
.intro-page .intro .intro—desc {
  margin: 0 auto 0 auto;
  width: 95%;
  padding-top: 350px;
}
.skill-page {
  background-color: #061924;
}
.skill-page .skill {
  margin: 0 15%;
}
.project-page {
  background-color: #072622;
}
.project-page .title {
  width: 400px;
}
.project-page .project {
  margin: 0 15%;
}
.project-page .content {
  font-size: 16px;
  line-height: 16px;
}
.project-page .content i {
  font-size: 20px;
}
.project-page .content ul {
  margin-left: -20px;
}
.project-page .content ol {
  margin-top: 10px;
}
.project-page .content li {
  margin-bottom: 10px;
}
.project-page .content h3 {
  margin-bottom: 10px;
}
.project-page .content p {
  margin-bottom: 10px;
  line-height: 20px;
}
.hide {
  display: none !important;
}
.top {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
