<div class="lifePage container">
	<div class="row grid" masonry>
		<div class="col-md-3 col-sm-6 col-xs-12 grid-item" ng-repeat="lBlog in lifeBlogList">
			<div class="thumbnail">
				<img ng-src="{{ lBlog.img }}" alt="{{ lBlog.title }}">
				<div class="caption">
					<h3>{{ lBlog.title }}</h3>
					<p>{{ lBlog.content }}</p>
					<p>
						<a href="#" class="btn btn-primary" role="button">
							like
						</a>
						<a href="#" class="btn btn-default" role="button">
							comment
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>