<h1>Work Expericence</h1>

<div id="timeline" class="timeline-container" time-line>

	<br class="clear">

	<div class="timeline-wrapper">
		<h2 class="timeline-time"><span>2016</span></h2>
		<dl class="timeline-series">
			<dt id="201603" class="timeline-event"><a>03月 开始第一个ionic项目</a></dt>
			<dd class="timeline-event-content" id="201603EX">
				<blockquote>
					<p>The world is very different ever since the robotic uprising of the mid-nineties. There is no more unhappiness.</p>
					<p>Affirmative.</p>
					<p>We no longer say yes, instead we say affirmative.</p>
					<p>Yes, affirmative.</p>
					<p>Unless its a more colloquial situation with a few robo friends.</p>
					<p>There is only one type of dance, the robot.</p>
					<p>And the robo-boogie.</p>
					<p>Oh yes, two kinds of dances.</p>
				</blockquote>

			<br class="clear">
			</dd><!-- /.timeline-event-content -->


		</dl><!-- /.timeline-series -->
	</div><!-- /.timeline-wrapper -->


	<div class="timeline-wrapper">
		<h2 class="timeline-time"><span>2015</span></h2>
		<dl class="timeline-series">
			<dt id="201511" class="timeline-event"><a>11月 开始web前端学习</a></dt>
			<dd class="timeline-event-content" id="201511EX">

				<p>A flying car is hypothetical personal aircraft that provides door-to-door aerial transportation (e.g., from home to work or to the supermarket) as conveniently as a car but without the requirement for roads, runways or other specially-prepared operating areas.</p>
				<p>The flying car has been depicted in works of fantasy and science fiction such as The Jetsons, Star Wars, Blade Runner, Back to the Future Part II and The Fifth Element. The Jetsons took place in 2062.</p>

			<br class="clear">
			</dd><!-- /.timeline-event-content -->

			<dt id="201503" class="timeline-event"><a>03月 来到上海</a></dt>
			<dd class="timeline-event-content" id="201503EX">

				<p>From <i>Discover</i> magazine's "<a href="http://discovermagazine.com/2012/oct/2062-the-state-of-the-world" class="venobox" data-type="iframe">The State of the World: 2062</a>":</p>

				<blockquote>
					<p>6 billion people live in cities—the population of the entire world at the turn of the century.</p>
				</blockquote>
				<blockquote>
					<p>Earth now home to 2 billion people age 60 and over.</p>
				</blockquote>
				<blockquote>
					<p>Coastal cities go under. Renewable energy rules the day. Cows use up precious water and drive the ongoing greenhouse effect.</p>
				</blockquote>
				<blockquote>
					<p>Incomes skyrocket in developing nations.</p>
				</blockquote>
				<blockquote>
					<p> Ice caps melt. Industry booms at top of the world.</p>

			<br class="clear">
			</dd><!-- /.timeline-event-content -->


		</dl><!-- /.timeline-series -->
	</div><!-- /.timeline-wrapper -->

	<div class="timeline-wrapper">
		<h2 class="timeline-time"><span>2014</span></h2>
		<dl class="timeline-series">
			<dt id="201407" class="timeline-event"><a>07月 来到厦门</a></dt>
			<dd class="timeline-event-content" id="201407EX">

				<p>Teleportation, or Teletransportation, is the theoretical transfer of matter or energy from one point to another without traversing the physical space between them. It is a common subject of science fiction literature, film, and television.</p>

				<p>The original Star Trek series is <a href="http://scifi.stackexchange.com/questions/12784/what-year-is-star-trek-the-original-series-set-in" target="_blank">reported</a> to have taken place from 2265 to 2271.</p>

			<br class="clear">
			</dd><!-- /.timeline-event-content -->
		</dl><!-- /.timeline-series -->

	</div><!-- /.timeline-wrapper -->

	<br class="clear">

</div><!-- /#timeline -->