body {
	background-color: #333333;
}

.container {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
}

.personMenu {
	padding: 0px;
	background-color: #FAFAFA;
}

.personMenu .person {
	text-align: center;
	background-color: #F0F0F0;
	padding-bottom: 40px;

	img {
		margin-top: 80px;
	}

	h2 {
		font-weight: 700;
		margin: 45px 0 0 0;
	}

	h3 {
		color: #636260;
		font-weight: 700;
		margin: 15px 0 0 0;
	}

	h4 {
		margin: 30px 0 0 0;
	}
}

.personMenu .navlist {
	div {
		margin-bottom: 0px;

		a {
			font-size: 24px;
			font-weight: 700;
			background-color: #FAFAFA;
			padding: 10px 30px;

			.glyphicon {
				top: 4px;
				padding: 0 10px;
			}

			&.list-group-item {
				border-left: 0;
				border-right: 0;

				&.active {
					background-color: #337ab7;
				}
				&:first-child {
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
				}
				&:last-child {
					border-bottom-left-radius: 0px;
					border-bottom-right-radius: 0px;
				}

			}
		}
	}
}

.contactMe {
	background-color: #FAFAFA;
	padding: 10px 40px 100px 40px;

	h4 {
		font-weight: 700;
	}

	p {
		font-size: 18px;
		font-weight: 400;
		margin: 0;
	}

	ul {
		padding: 0;
		margin-top: 20px;

		li {
			color: #666666;
			font-size: 16px;
			font-weight: 700;
			list-style-type:none;

			i.glyphicon {
				padding-right: 30px;
			}
		}
	}
}

.content {
	padding: 60px 30px 0 30px;
}