body {
	background-color: #333333;
}

.container {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
}

.col-more-left {
	padding-left: 40px;
	padding-right: 40px;
}
.col-more-right {
	padding-left: 40px;
	padding-right: 40px;
	min-height: 270px;
}

.avatar {
	text-align: center;
	img {
		margin: 50px 0 20px 0;
		width: 200px;
	}
}

.title {
	color: #2BB673;
}

.content {
	color: #B6B6B6;
}

.head {
	.resume {
		margin-top: 70px;
	}

	.time {
		position: absolute;
		right: 40px;
		top: 210px;
		font-size: 24px;
	}
}

.main {
	margin-bottom: 50px;
	.title {
		margin-bottom: 0px;
	}
	.content {
		font-size: 20px;
		margin-bottom: 5px;
	}
	.web {
		p {
			margin-bottom: 5px;
		}
	}
	.skill {
		.title {
			margin-bottom: 10px;
		}
	}
}