div.bg {
	position: fixed; 
	left: 0px; 
	top: 0px;
	width: 100%; 
	height: 100%; 
	overflow: hidden; 
	display: block;

	background-image: url("/public/img/bg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;

	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);

	z-index: -1;
}

.top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	height: 50px;
	width: 50px;
	background-color: white;
	font-size: 20px;
	line-height: 2.5;
	text-align: center;
	cursor: pointer;
}

.hasHead {
	position: relative; 
	top: 71px;
}

/* nav start */
nav.blogNav {
	background-color: white !important;
}

/* nav end */

/* homePage info start */
div.homePage {
	position: relative;
	text-align: center;
}

div.avatar {
	padding-top: 130px;
}

/* homePage info end */

/* workPage info start */
.divFix {
	position: fixed;
	top: 71px;
}

label.tags {
	margin: 5px 0;
}

.item-content div:first-child {
	padding-right: 0px;
}

.item-img {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 70%;
	overflow: hidden;
}

.item-img img {
	width: 100%;
}

.item-title {
	margin: 0 0 5px 0;
}

.item-img img {
	position: relative;
}

.item-time, .item-tags, .item-actions {
	display: inline-block;
	padding-top: 5px;
}

.item-time {
	
}

.item-tags {
	margin-left: 20px;
}

.item-actions {
	float: right;
}

/* workPage info end */

/* lifePage info start */
.lifePage img {
	width: 100%
}

/* lifePage info end */